{% extends '::Layout.html.twig'%}

{% block body %}
    {% block home %}
        <div class="container">
            animated slider here:

        </div>
        {% for picture in pictures %}
            {{  picture }}<br/>
        {% endfor %}
    {% endblock %}
{% endblock %}