{% extends "::base.html.twig" %}

{% block title %}MyScentFactoryEcommerceBundle:Subscribe:Subscribe{% endblock %}

{% block body %}
<h1>PAGE D'{{ inscription }} et ouverture de {{ compte }}</h1>

    <p>J'accede aux meilleurs offres et j'ouvre mon {{ lab }}</p>

{% endblock %}
